<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Game Sales Predictor</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html{
            overflow: hidden;
        }

        body{
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #login-form-container{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="login-form-container">
        <form action="classify" method="GET">
            <div class="card" style="width: 400px">
            <div class="card-content">
                <div class="media">
                <div class="is-size-4 has-text-centered">Video Game Sale Prediction</div>
                </div>
                <div class="content">

      <form
        action="classify" method="GET">
      <input list="games" name="games">
      <datalist id="games">
            <option value="7 Days to Die">
            <option value="A Hat in Time">
            <option value="A Plague Tale: Innocence">
            <option value="A Story About My Uncle">
            <option value="ABZU">
            <option value="ARK: Survival Evolved">
            <option value="ASTRONEER">
            <option value="Age of Empires® III: Complete Collection">
            <option value="Age of Wonders III">
            <option value="Alan Wake">
            <option value="Alan Wake's American Nightmare">
            <option value="Alien: Isolation">
            <option value="Alpha Protocol">
            <option value="Amnesia: A Machine For Pigs">
            <option value="Amnesia: The Dark Descent">
            <option value="Anomaly Warzone Earth">
            <option value="Antichamber">
            <option value="ArmA 2">
            <option value="Arma 3">
            <option value="Armello">
            <option value="Ashes of the Singularity: Escalation">
            <option value="Assassin's Creed Odyssey">
            <option value="Assassin's Creed® Origins">
            <option value="Assassin’s Creed® IV Black Flag™">
            <option value="AudioSurf">
            <option value="Awesomenauts - the 2D moba">
            <option value="BROFORCE">
            <option value="Baldur's Gate II: Enhanced Edition">
            <option value="Baldur's Gate: Enhanced Edition">
            <option value="Banished">
            <option value="Bastion">
            <option value="Batman Arkham City Game of the Year Edition">
            <option value="Batman: Arkham Asylum Game of the Year Edition">
            <option value="Batman: Arkham Knight">
            <option value="Batman™: Arkham Origins">
            <option value="Bayonetta">
            <option value="Besiege">
            <option value="Binary Domain">
            <option value="BioShock 2 Remastered">
            <option value="BioShock Infinite">
            <option value="BioShock Remastered">
            <option value="BioShock® 2">
            <option value="BioShock™">
            <option value="Black Mesa">
            <option value="Borderlands">
            <option value="Borderlands 2">
            <option value="Borderlands Game of the Year Edition Enhanced">
            <option value="Borderlands: Claptrap's Robot Revolution">
            <option value="Borderlands: Game of the Year Enhanced">
            <option value="Borderlands: Mad Moxxi's Underdome Riot">
            <option value="Borderlands: The Secret Armory of General Knoxx">
            <option value="Braid">
            <option value="Broken Age">
            <option value="Brothers - A Tale of Two Sons">
            <option value="Brutal Legend">
            <option value="Burnout Paradise: The Ultimate Box">
            <option value="Call of Juarez: Gunslinger">
            <option value="Castle Crashers">
            <option value="Cave Story+">
            <option value="Celeste">
            <option value="Child of Light">
            <option value="Chivalry: Medieval Warfare">
            <option value="Cities: Skylines">
            <option value="Company of Heroes">
            <option value="Company of Heroes - Legacy Edition">
            <option value="Company of Heroes 2">
            <option value="Company of Heroes: Opposing Fronts">
            <option value="Company of Heroes: Tales of Valor">
            <option value="Control">
            <option value="Counter-Strike: Condition Zero">
            <option value="Counter-Strike: Global Offensive">
            <option value="Counter-Strike: Source">
            <option value="Crawl">
            <option value="CrossCode">
            <option value="Crusader Kings II">
            <option value="Crusader Kings II: African Portraits">
            <option value="Crusader Kings II: South Indian Portraits 5 Year Anniversary Gift">
            <option value="Crypt of the Necrodancer">
            <option value="Crysis® 2 Maximum Edition">
            <option value="Cuphead">
            <option value="Cyberpunk 2077">
            <option value="DEADLIGHT">
            <option value="DMC - Devil May Cry">
            <option value="DOOM">
            <option value="Dark Souls II: Scholar of the First Sin">
            <option value="Dark Souls III">
            <option value="Dark Souls™: Prepare To Die™ Edition">
            <option value="Darkest Dungeon">
            <option value="Darksiders">
            <option value="Darksiders II Deathinitive Edition">
            <option value="Darksiders Warmastered Edition">
            <option value="Day of the Tentacle Remastered">
            <option value="Dead Cells">
            <option value="Dead Island - Game of the Year Edition">
            <option value="Dead Space">
            <option value="Dead Space 2">
            <option value="Death Stranding">
            <option value="Deep Rock Galactic">
            <option value="Defence Alliance 2">
            <option value="Deponia">
            <option value="Deus Ex Human Revolution">
            <option value="Deus Ex: Game of the Year Edition">
            <option value="Deus Ex: Human Revolution - Director's Cut">
            <option value="Deus Ex: Mankind Divided">
            <option value="DiRT 3: Complete Edition">
            <option value="DiRT Rally">
            <option value="DiRT Showdown">
            <option value="Disco Elysium">
            <option value="Dishonored">
            <option value="Dishonored 2">
            <option value="Divinity: Original Sin 2 - Definitive Edition">
            <option value="Divinity: Original Sin Enhanced Edition">
            <option value="Don't Starve">
            <option value="Don't Starve Together">
            <option value="Doom Eternal">
            <option value="Door Kickers">
            <option value="Dota 2">
            <option value="Dragons Dogma - Dark Arisen">
            <option value="Dungeon Defenders">
            <option value="Dungeon of the Endless">
            <option value="Dungeons 2">
            <option value="Dust: An Elysian Tail">
            <option value="Dying Light">
            <option value="ELEX">
            <option value="EVERSPACE™">
            <option value="Elite: Dangerous">
            <option value="Endless Legend - Classic Edition">
            <option value="Endless Space Collection">
            <option value="Enslaved: Odyssey to the West Premium Edition">
            <option value="Enter the Gungeon">
            <option value="Euro Truck Simulator 2">
            <option value="F.E.A.R">
            <option value="F.E.A.R. 2: Project Origin">
            <option value="F.E.A.R. 3">
            <option value="F.E.A.R.: Extraction Point">
            <option value="F.E.A.R.: Perseus Mandate">
            <option value="FEZ">
            <option value="FINAL FANTASY IX">
            <option value="FINAL FANTASY VII">
            <option value="FINAL FANTASY X/X-2 HD Remaster">
            <option value="FINAL FANTASY XV WINDOWS EDITION">
            <option value="FTL: Faster Than Light">
            <option value="Factorio">
            <option value="Fallout 3: Game of the Year Edition">
            <option value="Fallout 4">
            <option value="Fallout New Vegas - Courier's Stash">
            <option value="Fallout New Vegas: Dead Money">
            <option value="Fallout New Vegas: Honest Hearts">
            <option value="Fallout: A Post Nuclear Role Playing Game">
            <option value="Fallout: New Vegas">
            <option value="Far Cry 3">
            <option value="Far Cry 3: Blood Dragon">
            <option value="Far Cry® 4">
            <option value="Far Cry® 5">
            <option value="Firewatch">
            <option value="Frostpunk">
            <option value="Frozen Synapse">
            <option value="Furi">
            <option value="GRID 2">
            <option value="GRID">
            <option value="GRIS">
            <option value="Galactic Civilizations II: Ultimate Edition">
            <option value="Game Dev Tycoon">
            <option value="Gang Beasts">
            <option value="Garry's Mod">
            <option value="Giana Sisters: Twisted Dreams">
            <option value="Goat Simulator">
            <option value="Gone Home">
            <option value="Grand Theft Auto - San Andreas">
            <option value="Grand Theft Auto - Vice City">
            <option value="Grand Theft Auto 3">
            <option value="Grand Theft Auto IV">
            <option value="Grand Theft Auto V">
            <option value="GreedFall">
            <option value="Grim Dawn">
            <option value="Grim Fandango Remastered">
            <option value="Guacamelee! Gold Edition">
            <option value="Guacamelee! Super Turbo Championship Edition">
            <option value="Gunpoint">
            <option value="Guns of Icarus Online">
            <option value="Hacknet">
            <option value="Hades">
            <option value="Half-Life">
            <option value="Half-Life 1: Source">
            <option value="Half-Life 2">
            <option value="Half-Life 2: Episode One">
            <option value="Half-Life 2: Episode Two">
            <option value="Half-Life 2: Lost Coast">
            <option value="Half-Life: Blue Shift">
            <option value="Half-Life: Opposing Force">
            <option value="Halo: The Master Chief Collection">
            <option value="Hammerwatch">
            <option value="Hand of Fate">
            <option value="Hard Reset Extended Edition">
            <option value="Hell Yeah! Wrath of the Dead Rabbit">
            <option value="Hellblade: Senua's Sacrifice">
            <option value="Hitman 2 - Silent Assassin">
            <option value="Hitman Absolution">
            <option value="Hitman Blood Money">
            <option value="Hitman Game of the Year Edition">
            <option value="Hollow Knight">
            <option value="Homefront">
            <option value="Homeworld Remastered Collection">
            <option value="Horizon Zero Dawn™ Complete Edition">
            <option value="Hotline Miami">
            <option value="Hotline Miami 2: Wrong Number">
            <option value="Human: Fall Flat">
            <option value="Hyper Light Drifter">
            <option value="INSIDE">
            <option value="INSURGENCY">
            <option value="Injustice: Gods Among Us - Ultimate Edition">
            <option value="Into the Breach">
            <option value="Invisible, Inc.">
            <option value="Jet Set Radio">
            <option value="Jotun: Valhalla Edition">
            <option value="Just Cause 2">
            <option value="Just Cause 3">
            <option value="Keep Talking and Nobody Explodes">
            <option value="Kenshi">
            <option value="Kentucky Route Zero">
            <option value="Kerbal Space Program">
            <option value="Kholat">
            <option value="Killer is Dead - Nightmare Edition">
            <option value="Killing Floor">
            <option value="Killing Floor 2">
            <option value="Kingdom Come: Deliverance">
            <option value="Kingdom: Classic">
            <option value="Kingdom: New Lands">
            <option value="LA Noire">
            <option value="LEGO Lord of the Rings">
            <option value="LEGO® The Hobbit™">
            <option value="LIMBO">
            <option value="Lara Croft and the Guardian of Light">
            <option value="Lara Croft and the Temple of Osiris">
            <option value="Layers of Fear">
            <option value="Left 4 Dead">
            <option value="Left 4 Dead 2">
            <option value="Legend of Grimrock">
            <option value="Legend of Grimrock II">
            <option value="Lethal League">
            <option value="Life is Strange Episode 1">
            <option value="Little Inferno">
            <option value="Little Nightmares">
            <option value="Lord of the Rings: War in the North">
            <option value="MAFIA III">
            <option value="METAL GEAR RISING: REVENGEANCE">
            <option value="METAL GEAR SOLID V: THE PHANTOM PAIN">
            <option value="Machinarium">
            <option value="Mad Max">
            <option value="Mafia II">
            <option value="Magicka">
            <option value="Mark of the Ninja">
            <option value="Mass Effect">
            <option value="Mass Effect 2">
            <option value="Max Payne 3">
            <option value="Medal of Honor">
            <option value="Metal Gear Solid V: Ground Zeroes">
            <option value="Metro 2033">
            <option value="Metro 2033 Redux">
            <option value="Metro Exodus">
            <option value="Metro: Last Light Redux">
            <option value="Middle-earth™: Shadow of Mordor™">
            <option value="Middle-earth™: Shadow of War™">
            <option value="Mini Metro">
            <option value="Minion Masters">
            <option value="Mirror's Edge">
            <option value="Momodora: Reverie Under the Moonlight">
            <option value="Monaco: What's Yours Is Mine">
            <option value="Monster Hunter: World">
            <option value="Mount & Blade II: Bannerlord">
            <option value="Mount & Blade: Warband">
            <option value="Murdered: Soul Suspect">
            <option value="Natural Selection 2">
            <option value="Never Alone (Kisima Ingitchuna)">
            <option value="Ni no Kuni™ II: Revenant Kingdom">
            <option value="NieR: Automata">
            <option value="Night In The Woods">
            <option value="Nioh: Complete Edition">
            <option value="No Man's Sky">
            <option value="No Time To Explain Remastered">
            <option value="Northgard">
            <option value="Nuclear Throne">
            <option value="OCTOPATH TRAVELER">
            <option value="Oddworld: Abe's Oddysee">
            <option value="One Finger Death Punch">
            <option value="Orcs Must Die!">
            <option value="Orcs Must Die! 2">
            <option value="Ori and the Blind Forest">
            <option value="Ori and the Blind Forest: Definitive Edition">
            <option value="Orwell">
            <option value="Outer Wilds">
            <option value="Outland">
            <option value="Outlast">
            <option value="Overcooked">
            <option value="Overlord II">
            <option value="Overlord">
            <option value="Owlboy">
            <option value="Oxenfree">
            <option value="Oxygen Not Included">
            <option value="PAYDAY 2">
            <option value="PAYDAY 2: Ultimate Edition">
            <option value="PAYDAY The Heist">
            <option value="PLAYERUNKNOWN'S BATTLEGROUNDS ">
            <option value="Papers, Please">
            <option value="Path of Exile">
            <option value="Pillars of Eternity Hero Edition">
            <option value="Plague Inc: Evolved">
            <option value="Planet Coaster">
            <option value="Planetary Annihilation">
            <option value="Poker Night at the Inventory">
            <option value="Poly Bridge">
            <option value="Portal">
            <option value="Portal 2">
            <option value="Prey (2017)">
            <option value="Prison Architect">
            <option value="Psychonauts">
            <option value="Pyre">
            <option value="Quantum Break">
            <option value="RAGE">
            <option value="RESIDENT EVIL 2 / BIOHAZARD RE:2 Standard Edition">
            <option value="RUINER">
            <option value="Race the Sun">
            <option value="Rebel Galaxy">
            <option value="Red Dead Redemption 2">
            <option value="Red Faction®: Armageddon">
            <option value="Red Orchestra 2: Heroes of Stalingrad with Rising Storm">
            <option value="Remember Me">
            <option value="Renegade Ops">
            <option value="Resident Evil / biohazard HD REMASTER">
            <option value="Resident Evil 4">
            <option value="Return of the Obra Dinn">
            <option value="Reus">
            <option value="RimWorld">
            <option value="Rise of the Tomb Raider: 20 Year Celebration">
            <option value="Risen">
            <option value="Risen 2 Dark Waters">
            <option value="Risk of Rain">
            <option value="Risk of Rain 2">
            <option value="Rocket League">
            <option value="Rogue Legacy">
            <option value="Rust">
            <option value="Ryse: Son of Rome">
            <option value="S.T.A.L.K.E.R. Call of Pripyat">
            <option value="S.T.A.L.K.E.R. Clear Sky">
            <option value="S.T.A.L.K.E.R. Shadow of Chernobyl">
            <option value="SEGA Mega Drive and Genesis Classics">
            <option value="SOMA">
            <option value="STAR WARS Jedi: Fallen Order™">
            <option value="STAR WARS®: Knights of the Old Republic™ II - The Sith Lords™">
            <option value="SUPERHOT">
            <option value="Saints Row 2">
            <option value="Saints Row IV">
            <option value="Saints Row: The Third">
            <option value="Salt and Sanctuary">
            <option value="Sanctum">
            <option value="Sanctum 2">
            <option value="Satellite Reign">
            <option value="Scribblenauts Unlimited">
            <option value="Sekiro: Shadows Die Twice">
            <option value="Serious Sam 3: BFE">
            <option value="Serious Sam HD">
            <option value="Shadow Tactics: Blades of the Shogun">
            <option value="Shadow Warrior">
            <option value="Shadow Warrior 2">
            <option value="Shadow of the Tomb Raider">
            <option value="Shadowrun Hong Kong - Extended Edition">
            <option value="Shadowrun Returns">
            <option value="Shadowrun: Dragonfall - Director's Cut">
            <option value="Shovel Knight: Treasure Trove">
            <option value="Sid Meier's Civilization III Complete Edition">
            <option value="Sid Meier's Civilization IV: Colonization">
            <option value="Sid Meier's Civilization V">
            <option value="Sid Meier's Civilization V: Brave New World">
            <option value="Sid Meier's Civilization: Beyond Earth">
            <option value="Sid Meier's Civilization® IV">
            <option value="Sins of a Solar Empire: Rebellion">
            <option value="Skullgirls">
            <option value="Slay the Spire">
            <option value="Sleeping Dogs: Definitive Edition">
            <option value="Slime Rancher">
            <option value="Snake Pass">
            <option value="Sniper Elite 3">
            <option value="Sniper Elite 4">
            <option value="Sniper Elite V2">
            <option value="South Park The Fractured But Whole">
            <option value="South Park: The Stick of Truth">
            <option value="Space Engineers">
            <option value="Spacechem">
            <option value="Spec Ops: The Line">
            <option value="SpeedRunners">
            <option value="Spelunky">
            <option value="Star Wars: Battlefront 2 (Classic, 2005)">
            <option value="Star Wars: Knights of the Old Republic">
            <option value="Star Wars®: Jedi Knight®: Jedi Academy">
            <option value="Starbound">
            <option value="Stardew Valley">
            <option value="SteamWorld Heist">
            <option value="Strider">
            <option value="Styx: Master of Shadows">
            <option value="Subnautica">
            <option value="Sunless Sea">
            <option value="Super Hexagon">
            <option value="Super Meat Boy">
            <option value="Superbrothers: Sword & Sworcery EP">
            <option value="Surviving Mars">
            <option value="Swapper, The">
            <option value="System Shock™ 2">
            <option value="THIEF">
            <option value="Tabletop Simulator">
            <option value="Tales from the Borderlands">
            <option value="Tales of Berseria">
            <option value="Team Fortress 2">
            <option value="Team Fortress Classic">
            <option value="Teleglitch: Die More Edition">
            <option value="Terraria">
            <option value="The Banner Saga">
            <option value="The Binding of Isaac">
            <option value="The Binding of Isaac Rebirth">
            <option value="The Bureau: XCOM Declassified">
            <option value="The Darkness II">
            <option value="The Elder Scrolls III: Morrowind® Game of the Year Edition">
            <option value="The Elder Scrolls IV: Oblivion® Game of the Year Edition">
            <option value="The Elder Scrolls V: Skyrim">
            <option value="The Elder Scrolls V: Skyrim - Dawnguard">
            <option value="The Elder Scrolls V: Skyrim - Dragonborn">
            <option value="The Elder Scrolls V: Skyrim - Hearthfire">
            <option value="The Elder Scrolls V: Skyrim Special Edition">
            <option value="The Escapists">
            <option value="The Flame in the Flood">
            <option value="The Forest">
            <option value="The Incredible Adventures of Van Helsing">
            <option value="The Last Remnant">
            <option value="The Legend of Heroes: Trails in the Sky">
            <option value="The Long Dark">
            <option value="The Outer Worlds">
            <option value="The Red Solstice">
            <option value="The Stanley Parable">
            <option value="The Surge">
            <option value="The Talos Principle">
            <option value="The Turing Test">
            <option value="The Vanishing of Ethan Carter">
            <option value="The Walking Dead">
            <option value="The Walking Dead: Season Two">
            <option value="The Witcher 2: Assassins of Kings Enhanced Edition">
            <option value="The Witcher 3: Wild Hunt">
            <option value="The Witcher: Enhanced Edition Director's Cut">
            <option value="The Witness">
            <option value="The Wolf Among Us">
            <option value="They Are Billions">
            <option value="Thief Gold">
            <option value="This Is the Police">
            <option value="This War of Mine">
            <option value="Thomas Was Alone">
            <option value="Titan Quest">
            <option value="Titan Quest Anniversary Edition">
            <option value="To The Moon">
            <option value="Tomb Raider">
            <option value="Torchlight">
            <option value="Torchlight II">
            <option value="Total War SHOGUN 2">
            <option value="Total War: WARHAMMER II">
            <option value="Total War™: WARHAMMER®">
            <option value="Transistor">
            <option value="Trine 2: Complete Story">
            <option value="Trine Enchanted Edition">
            <option value="Tropico 3">
            <option value="Tropico 4">
            <option value="Two Point Hospital">
            <option value="Undertale">
            <option value="VVVVVV">
            <option value="Valkyria Chronicles™">
            <option value="Vampire: The Masquerade - Bloodlines">
            <option value="Vampyr">
            <option value="Viking Battle for Asgard">
            <option value="Viscera Cleanup Detail: Shadow Warrior">
            <option value="Warframe">
            <option value="Warhammer 40,000: Space Marine">
            <option value="Warhammer: End Times - Vermintide">
            <option value="Warhammer: Vermintide 2">
            <option value="Warhammer® 40,000: Dawn of War® - Game of the Year Edition">
            <option value="Wasteland 2: Director's Cut">
            <option value="Watch_Dogs® 2">
            <option value="We Happy Few">
            <option value="What Remains of Edith Finch">
            <option value="Wolfenstein II: The New Colossus">
            <option value="Wolfenstein The New Order">
            <option value="Wolfenstein: The Old Blood">
            <option value="World of Goo">
            <option value="X-COM: UFO Defense">
            <option value="XCOM 2">
            <option value="XCOM: Enemy Unknown">
            <option value="XCOM: Enemy Within">
            <option value="Yakuza 0">
            <option value="ŌKAMI HD / 大神 絶景版">
      </datalist>
     </form>

                    <button class="button is-fullwidth is-rounded is-success">Submit</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>